.box1 {
  background-color: #bfa;
}
.box1 .box2 {
  background-color: #aaa;
}
.box1 .box2 .box4 {
  background-color: yellow;
}
.box1 .box3 {
  background-color: #abcdef;
}
.box5 {
  width: 200px;
  background-color: #bfa;
}
.box6 {
  width: 200px;
  background-image: url("box6/1.jpg");
}
.box6 {
  width: 300px;
  height: 300px;
}
